/*------------------------------------------*/
/* Global */
/*------------------------------------------*/
*{ /* applies to all*/
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{ /* applies to wrapper class*/
  height: 100vh; /* whole space vertically */
  padding-top: 15px; /* top padding(magin) down 15px*/
  display: grid; /*  elemento de bloque */
  grid-template-rows: 32px 1fr 81.5px; /* define el nombre de las líneas y las funciones de tamaño de línea de grid rows.*/
}

ul { /* applies to all ul elements, no list icon, no spacing*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:hover {
  cursor: pointer;
}
/*------------------------------------------*/
/* Header/Navigational bar */
/*------------------------------------------*/

.header{/* applies to header class*/
  grid-row: 1 / span 1;
}

.navigation  ul{
display: grid;
grid-template-columns: repeat(4, max-content);
grid-template-rows: 1fr;
gap: 20px;
align-items: center;
justify-content: end;
padding-right: 30px;
}

/*list elements*/
.navigation li {
  display: block; /* elemento de bloque*/
}
.navigation li:hover {
  cursor: pointer;
}

/* "a" elements*/
.navigation a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
.navigation a:hover {
  text-decoration: underline;
  color: #6f6f6f;
}
/* Alignment and details*/
.user-image {
  border-radius: 50%;
}
.cubes, 
.user-image {
  vertical-align: top;
}
.navigation a {
  vertical-align: middle;
}

/*------------------------------------------*/
/* Main */
/*------------------------------------------*/

.main{/* applies to main class */
  grid-row: 2 / span 1;
}

.main {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  gap: 25px;
  align-content: start;
  justify-items: center;
}

/*logo*/
.main .logo{
  margin: 150px 0px 0px;
}

/* Search box*/
.search-box{ /* just the box*/
  position: relative;
}
.maginifier{ /* Just the image*/
  position: absolute;
  left: 8px;
  top: 7px;
  padding: 7px;
  width: 32px;
  opacity: 0.40;
}

.input { /* Actual text box*/
  width: 584px;
  height: 44px;
  border-radius: 30px;
  border: 1px solid #dfe1e5;
  padding-left: 50px; /* Used to move the cursor next to the magnifier */
}

.input:hover ,
.input:focus {
  border: none;
  box-shadow: 0 0 5px #bbbbbb;
}

/* Buttons */
.buttons { /* buttons size and alignment */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 36px;
  gap: 12px;
  margin-top: 6px;
  margin-right: 10px;
}

.btn1,
.btn2 {
  background-color: #f2f2f2;
  border: none;
  padding: 18px 18px;
  font-size: 14px;
  border-radius: 5px;
}

.btn1:hover,
.btn2:hover {
  cursor: pointer;
  margin: -1px; /* In order for border not to change element's size margin had to be adjusted */
  border: 1px solid #e4e4e4;
  box-shadow: 0 0 2px #f2f2f2;
}

.btn1:hover a,
.btn2:hover a {
  color: black;
}

.buttons a {
  text-decoration: none;
  color: #6f6f6f;
}
/* The only paragraph i have*/


.main p {
  font-size: 13px;
  margin-top: 6px;
}

.main p a {
  text-decoration: none;
  color:#1a0dab;
}
.main p a:hover{
  text-decoration: underline;
}
.buho {
  border: none;
  margin-right: 5px;
  vertical-align: middle;
}

/*------------------------------------------*/
/* Footer */
/*------------------------------------------*/

.footer {
  grid-row: -2 / -1;
}





